@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');



html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}



.registerformwraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  width: 100%;
  height: 100%;
}

.contentwraper {
  display: flex;
}