@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');




html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.appname {
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  background-image: linear-gradient(90deg, black, rgb(47, 47, 252));
  background-clip: text;
  color: transparent;
}

.registerformwraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  width: 100%;
  height: 100%;
}

.headerwraper {
  min-height: 5vh;
  background-color: #989898;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createchatbtn {
  margin-right: 20px;
}


.contentwraper {
  display: flex;
}

.chats {
  text-decoration: none;
  cursor: pointer;
}


.allchat {
  background-color: #989898;
  height: 90vh;
  min-width: 250px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.circularprogress {
  margin: auto;
}


.allchat::-webkit-scrollbar {
  width: 10px;
}

.allchat::-webkit-scrollbar-track {
  background-color: #989898;
}

.allchat::-webkit-scrollbar-thumb {
  background-color: #808080;
  border: 3px solid #989898;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.avatar {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 28px;
  background-color: rgb(119, 111, 101);
}

.nochatimg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 10px;
  font-size: 28px;
  color: black;
  background-color: rgb(119, 111, 101);
}

.chat {
  display: flex;
  margin: 5px 10px;
  border: 1px solid black;
  border-radius: 20px;
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.chattitleandlastmessage {
  color: rgb(75, 48, 48);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding: 7px 20px 5px 20px;
}

.messagemain {
  background-color: #989898;
  height: 90vh;
  width: calc(100% - 250px - 220px);
  display: flex;
  flex-direction: column;
}


.messagemainwithcreate {
  background-color: #989898;
  height: 90vh;
  min-width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
}


.asidecreateactive {
  display: block;
  background-color: #989898;
  height: 90vh;
  min-width: 220px;
}

.asidecreate {
  display: none;
}


.userforcreate {
  max-width: 210px;
  margin: 18px 0px;
  max-height: 300px;
  overflow-y: scroll;
}

.userforcreate::-webkit-scrollbar {
  width: 10px;
}

.userforcreate::-webkit-scrollbar-track {
  background-color: #989898;
}

.userforcreate::-webkit-scrollbar-thumb {
  background-color: #808080;
  border: 3px solid #989898;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.userwraper {
  margin: 2px 0px;
  max-width: 200px;
  display: flex;
  border: 1px solid black;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.username {
  font-family: 'Open Sans', sans-serif;
}


.nouserimg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 10px;
  font-size: 24px;
  background-color: rgb(119, 111, 101);
}

.useravatar {
  min-width: 40px;
  min-height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 28px;
  background-color: rgb(119, 111, 101);
}


.chatms {
  display: flex;
  margin: 0px 40px 10px 10px;
  height: 60px;
  min-width: calc(100% - 250px - 220px);
  justify-content: space-between;
  align-items: center;
}

.chatwithcreate {
  display: flex;
  margin: 0px 40px 10px 10px;
  height: 60px;
  min-width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
}

.chattitle {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

.textinsteadofchat {
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  align-items: center;
  background-image: linear-gradient(90deg, black, rgb(47, 47, 252));
  background-clip: text;
  color: transparent;
  text-align: center;
}

.adminname {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

.avatarchat {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 28px;
  background-color: rgb(150, 148, 148);
}


.noimg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 10px;
  font-size: 24px;
  background-color: rgb(190, 190, 190);
}



.setting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatavatar {
  margin-bottom: 15px;
}


.userinchat {
  margin: 10px 0px;
  padding: 2px 5px;
  display: flex;
  flex-direction: column;
  width: 200px;
  max-height: 200px;
  overflow-x: scroll;
}

.userinchat::-webkit-scrollbar-track {
  background-color: #989898;
}

.userinchat::-webkit-scrollbar {
  width: 0px;
}

.userinchat::-webkit-scrollbar-thumb {
  background-color: #808080;
  border: 3px solid #989898;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.nameuserinchat {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}


.messagefromonechat {
  flex: 1 1 auto;
  overflow-x: scroll;
}

.messagefromonechat::-webkit-scrollbar-track {
  background-color: #989898;
}

.messagefromonechat::-webkit-scrollbar {
  width: 0.5px;
}

.messagefromonechat::-webkit-scrollbar-thumb {
  background-color: #808080;
  border: 3px solid #989898;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.nameuserinchat {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}



.msgfield {
  display: flex;
  margin: 0px 10px 10px 10px;
  width: calc(100% - 20px);
  justify-content: space-between;
}


.msginput {
  width: calc(100% - 100px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.mymsg {
  display: flex;
  justify-content: flex-end;
  margin: 5px 10px 5px 0px;
  align-items: center;
}

.usermsg {
  display: flex;
  justify-content: flex-start;
  margin: 5px 10px 5px 0px;
  align-items: center;
}

.onemessagewraper {
  width: 100%;
}

.msg {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  background-color: #505050;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  cursor: pointer;
}

.owner {
  margin: 2px 5px 2px 5px;
}

.text {
  margin: 2px 10px 5px 10px;
  font-size: 18px;
}

.chatsendphoto {
  width: 200px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatmessageimg {
  margin: 5px;
  width: 95%;
  height: 100%;
}


.imgPreview {
  width: 100px;
  height: 100px;
}

.imgsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding: 0 10px;

}

.imgWrapper {
  position: relative;
}

.CloseIcon {
  position: absolute;
  top: 0;
  right: 0;

}